body {
    background-image: url("images/popcorn.jpg");
}
.card-button:hover {
    text-decoration: underline;
}
.notes-cancel {
    border: #e57373 solid 1px;
    border-radius: 5px;
}
.notes-save {
    border: #66bb6a solid 1px;
    border-radius: 5px;
}
.notes-cancel:hover {
    text-decoration: underline;
}
.notes-save:hover {
    text-decoration:underline;
}
.brand-logo {
    margin-left:10px
}
card {
    margin-left: 33%

}